<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Personal Training</a></li>
                        <li><a href="#">Group Training</a></li>
                        <li><a href="#">Supplements</a></li>
                        <li><a href="#">Gym Equipment</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Contact</h3>
                    <ul>
                        <li><a href="#">+62 344537219</a></li>
                        <li><a href="#">hackfit@brianmail.com</a></li>
                        <li><a href="#">lala 23 road</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>About</h3>
                    <p>We are hackfit, a small commercial gym selling personal training, gym equipment, and
                        supplements all at an affordable price since 2022.</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
                            class="icon ion-social-twitter"></i></a><a href="#"><i
                            class="icon ion-social-snapchat"></i></a><a href="#"><i
                            class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">Hackfit © 2023</p>
        </div>
    </footer>
</div>