<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Fullstack javascript </a></li>
                        <li><a href="#">Web developer</a></li>
                        <li><a href="#">Data science</a></li>
                        <li><a href="#">Golang Backend</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Contact</h3>
                    <ul>
                        <li><a href="#">+62 344537219</a></li>
                        <li><a href="#">HAKCTIV88@brianmail.com</a></li>
                        <li><a href="#">lala 23 road</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>About</h3>
                    <p>1600+ lulusan sukses jadi talenta digital dengan gaji di atas standar industri. Dapatkan diskon Rp2 juta untuk dapatkan skill impianmu!</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
                            class="icon ion-social-twitter"></i></a><a href="#"><i
                            class="icon ion-social-snapchat"></i></a><a href="#"><i
                            class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">HACKTIV88 © 2023</p>
        </div>
    </footer>
</div>